@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
  --color-backgroud: url('./assets/black.png');
  --color-content: rgb(11, 10, 13);
  --color-main: rgb(17, 17, 22);
  --color-button-register: #1da1f2;
  --color-button-delete: #900000;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

body {
  background-image: var(--color-backgroud);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}